asgiref
colorama
distutils-pytest
Django
djongo
dnspython
iniconfig
packaging
pluggy
# psycopg2
psycopg2-binary
pymongo
pytest
python-dotenv
pytz
setuptools
sqlparse
tzdata
wheel







